*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

@font-face {
    font-family: 'OdeToIdleGaming';
    src: url('./../resources/fonts/OdeToIdleGaming.otf');
}
