/*Cores*/
$corAzul: #01008C;
$corAmarelo: #FFD106;
$corVerde: #1ACB6C;
$corAmareloClaro: rgba(255,209,6,0.2);

/*Fontes*/
$fontTitulos: "OdeToIdleGaming";
$fontSizeNavbar: 15px;
$fontTituloArial: "Arial";
