a:hover {
    text-decoration: none;
}

.bg-roxo {
    background-color: #7e509c;
}

.bg-rosa {
    background-color: #c29ebe;
}

.img-carousel {
    height: 62vh;
    object-fit: cover;
    object-position: 0 30%;
}

.margin-right {
    margin-right: 30px;
}

.social-media {
    color: #7e509c;
}

.color-black {
    color: black;
}

.color-black:hover {
    color: #7e509c;
}

.tamanho-fonte {
    font-size: 30px;
}

.tamanho-card {
    width: 18rem;
}

.imagem-card {
    height: 50vh;
    object-fit: cover;
    object-position: top;
}