/*Geral*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

/*Topbar*/

.topbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 0, 0);
    font-size: 13px;
    width: 100%;
    height: 100px;
}

.topbar__menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.topbar__menu__item{
    text-decoration: none;
    color: #DCDCDC;
    text-transform: uppercase;
    padding: 7px;
    margin-right: 10px;
}

.topbar__menu__item:hover{
    color: goldenrod;
}

.topbar__call-to-action{
    text-decoration: none;
    text-transform: uppercase;
    color: #daa520;
    border: #daa520 solid 1px;
    padding: 5px;
    border-radius: 5px;
}

.topbar__call-to-action:hover{
    color: white;
    background: goldenrod;
}

/*Topbar*/
.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 95vh; 
    background-image: url('../img/bg-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.cabecalho__titulo{
    font-weight: 400;
    color: #DCDCDC;
    padding: 10px;
    text-transform: uppercase;
    text-align: end;
}

.cabecalho__descricao{
    color: white;
    margin-bottom: 31px;
    line-height: 20px;

}

.cabecalho__container{
    margin: 0 auto;
    text-align: right;
    width: 630px;
    height: 430px;
    padding-left: 220px;
}

.cabecalho__call-to-action{
    background-color: #FEDD6A;
    font-weight: bold;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    color: rgb(136, 99, 6);
    text-transform: uppercase;
    cursor: pointer;    
}

.cabecalho__call-to-action:hover{
   background-color: rgb(136, 99, 6);
   color: white;    
}

/*Sobre-Card*/

.sobre{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.sobre__card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre__card div {
    display: inline-block;
    max-width: 400px;
    color: #737373;
    margin-top: 0;
}

.sobre__card p{
    text-align: center;
}

h1, h2{
    font-size: 28px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.sobre__card img{
    height: 123px;
    width: auto;
    margin-left: 20px;
    padding-right: 20px;
}

/*Como funciona-Card*/

.como-funciona__conteudo{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    font-weight: 580px;
}

.como-funciona__conteudo span{
    font-weight: bold;
}

.como-funciona__img{
    width: 150px;
}

.como-funciona__passo{
    width: 30%;
    display: inline-block;
    color: #737373;
    text-align: center;
    font-weight: 580px;
}

/*Serviços-Card*/

.servicos{
    background-image: url('../img/bg-servicos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    position: relative;
}

.servicos > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicos h3{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    margin-top: 30px;
}

.servicos > h2{
    font-size: 28px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.servicos__card{
    background-color: #2bc1d1;
    width: 300px;
    height: 320px;
    border-radius: 5px;
    padding: 0px 34px;
    margin: 0 10px;
    color: white;
    text-align: center;
}

.servicos__card img{
    width: 50%;
}

.servicos__card > p{
    font-size: 15px;
    margin-bottom: 30px;
}

.servicos__call-to-action {
    background-color: #FEDD6A;
    font-weight: bold;
    border: none;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    color: rgb(136, 99, 6);
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.servicos__call-to-action > a{
    text-decoration: none;
}

.servicos__call-to-action:hover{
    background-color: rgb(136, 99, 6);
    color: white;    
}

.newsletter{    
    padding: 50px 0;
    width: 100%;
    background-color: #ffff; 
}

.newsletter > h4{
    margin: 0;
    letter-spacing: 3px;
    text-align: center;
    font-size: 28px;
}

.newsletter > div{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.newsletter__email{
    padding: 6px 120px;
    border-radius: 3px;
    font-size: 100%;
    border: 1px solid rgb(190, 190, 190);
}

.newsletter__email::placeholder{
    font-family: 'Raleway', sans-serif;
}

.newsletter__call-to-action{
    border: none;
    padding: 8px 30px;
    border-radius: 3px;
    background-color: purple;
    color: white;
    text-transform: uppercase;
    cursor: pointer; 
    font-size: 100%;    
}

.newsletter__call-to-action span{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

footer > div {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-image: linear-gradient(#2b002b, #000000);
    color: #ffffff;
    padding-top: 10px;
    font-size: 15px;
}

footer ul {
    list-style: none;
    text-align: left;
}

footer ul a {
    text-decoration: none;
    color: white;
}

.footer__brand {
    font-size: 13px;
}

.footer__brand span {
    font-style: italic;
    font-weight: lighter;
}

.footer__brand > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 22px;
}

.footer__brand > p{
    margin: 10px;

}

